.footer{
    padding-top:70px ;
    padding-bottom:30px ;
}

.footer .logo1 img{
    width: 45%;
    height: 8vh;
    margin-bottom: 2rem;
}

.footer.logo p  {
    color: var(--text-color);
}

.list-group-item{
    background-color: transparent !important;
}


.footer__quick-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
   

}

.footer_quick-links h6 span i{
    color: var(--secondary-color);
    font-size: 1.1rem;
  
    
}

.copyright{
    color: var(--text-color);
    font-size: 1rem;
}
.horizontal-line {
    border: none;
    border-top: 2px solid #000; /* Change the color and thickness as needed */
    margin: 2rem 0;
  }
  

@media (max-width: 600px) {
    .footer .logo1 img {
        width: 35%; 
        height: 6vh; 
        margin-bottom: 1.5rem;
       
    }
}